-Umgebung-
\CB
\CB\System\Tools
\CB\System\Tools\Temp
\CB\System\Files\Temp\Logs
\CB\System\Tools\Settings\License
\CB\Daten
-Download-
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/CB_Repair.bat
\CB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/CB_Update.bat
\CB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/CB_Converter.bat
\CB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/CB_CreateExcel.ps1
\CB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/version.txt
\CB\System\Files\Temp
https://raw.githubusercontent.com/necrqum/cashbook/main/Intern_Files/license.txt
\CB\System\Tools\Settings\License