-Umgebung
%userprofile%\Desktop\KB
%userprofile%\Desktop\KB\System\Tools
%userprofile%\Desktop\KB\System\Files\Temp\Logs
%userprofile%\Desktop\KB\System\Tools\Settings\License
%userprofile%\Desktop\KB\Daten
-Download
https://raw.githubusercontent.com/necrqum/cashbook/main/For Developers/KB_Repair.bat
%userprofile%\Desktop\KB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/For Developers/KB_Update.bat
%userprofile%\Desktop\KB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/For Developers/KB_Converter.bat
%userprofile%\Desktop\KB\System\Tools
https://raw.githubusercontent.com/necrqum/cashbook/main/For Developers/version.txt
%userprofile%\Desktop\KB\System\Files\Temp
https://raw.githubusercontent.com/necrqum/cashbook/main/For Developers/license.txt
%userprofile%\Desktop\KB\System\Tools\Settings\License